
body {
    background-color: #f4f6f9;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.navbar {
    background-color: #2f3b4c;
    color: white;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2f3b4c;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h4 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.sidebar a {
    color: #d1d1d1;
    padding: 12px;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: #444;
    color: white;
}

.main-content {
    margin-left: 260px;
    padding: 30px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card-header {
    background-color: #2f3b4c;
    color: white;
    font-size: 1.2rem;
}

.form-label {
    font-weight: 600;
    color: #555;
}

.form-control,
.form-select {
    border-radius: 5px;
}

.btn-primary {
    background-color: #2f3b4c;
    border-color: #2f3b4c;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}
.logout-button {
    position: fixed;
    top: 15px;
    right: 30px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1100;
}

.logout-button:hover {
    background-color: #d32f2f;
}
.sidebar-footer {
margin-top: auto;
text-align: center;
padding-bottom: 100px; /* Ajusta la separación inferior */
}


.admin-image {
max-width: 80%; /* Ajusta el tamaño máximo al 80% del ancho del contenedor */
border-radius: 8px; /* Opcional: bordes redondeados */
display: block; /* Se asegura de que la imagen sea un bloque para centrarla */
margin: 0 auto 100px; /* Añade un pequeño margen inferior */
}
